.container {
  max-width: 36rem;
  padding: 0 1rem;
  margin: 3rem auto;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.headerNotFound {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: calc(3rem + 18px);
}

.headerImage {
  display: block;
  height: 6rem;
  margin: 0 auto;
}

.headerTitle {
  font-size: 2em;
}

.headerHomeImage {
  width: 8rem;
  height: 8rem;
  margin: 24px auto;
}

.backToHome {
  margin: 3rem 0 0;
}

.centerNotFound {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  flex-direction: column;
  height: calc(100vh - 200px);
  width: 100vw;

  img {
    width: 100%;
    max-width: 900px;
  }
}
